* {
	margin: 0px;
	padding: 0px;
}
.gallery {
	display: flex;
	height: 400px;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
.left_side {
	display: flex;
	flex-direction: column;
}
.gallery img {
	border: solid 2px white;
	border-radius: 10px;
	transition: 0.8s;
}
.gallery img:hover {
	transform: scale(1.04);
}
.jump {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(60px);
}

.jump_hidden {
	display: none;
}
.jump_cancel {
	background-color: transparent;
	color: white;
	font-size: 50px;
	border: none;
	transition: 0.7s;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 5rem;
	opacity: 0.7;
}
.jump_cancel:hover {
	transform: scale(1.3);
}
.change_img {
	font-size: 80px;
	position: absolute;
	background: transparent;
	border-radius: 50%;
	border: none;
	color: white;
	opacity: 0.7;
	transition: 0.4s;

	height: 600px;
	opacity: 0;
}
.change_img:hover {
	transform: scale(1.3);
	opacity: 1;
}
.previous_img {
	position: absolute;
	left: 26%;
	padding-right: 486px;
}
.next_img {
	position: absolute;
	right: 26%;
	padding-left: 486px;
}
.div-img_down {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 2rem;
}
@media screen and (max-width: 1000px) {
	.gallery {
		display: flex;
		flex-direction: column;
	}
	img {
		height: 100px;
	}
}

.UpperNavBar ul {
	background-color: black;
	color: white;
	display: flex;
	height: 50px;
	list-style: none;
	justify-content: center;
}
.UpperNavBar ul li {
	margin-left: 1rem;
	line-height: 50px;
}
.UpperNavBar ul li:hover {
	background-color: grey;
}
h1 {
	font-size: 100px;
	display: flex;
	justify-content: center;
}
.dropdown {
	background-color: black;
	width: 100px;
	height: 100px;
	display: none;
}

.img_downAll {
	padding: 0.3rem;
	border-radius: 1rem;
}
span {
	position: fixed;
	top: 9rem;
	font-size: 20px;
	color: white;
}
.description {
	position: fixed;
	color: white;
	bottom: 7.5rem;
	font-size: 2rem;
}
